
.outterNav-div{
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
    position: fixed;
    top: 0;
    z-index: 1; 
}



.mainLogo{
width: 110px;
margin-left: 50px;
}

.quicktap{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.innerNav-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;  
}

.navbarTags{
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.navbarTags:hover{
    color: rgb(88, 88, 95);
    transition: ease-in-out 0.5s;
}